# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm

# Test output
coverage/
.nyc_output/

# Build / packaging output
dist/
*.zip
*.crx

# Editor & IDE
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env
.env.local

# Other
docs/*
